<md-toolbar class="md-tall toolbar-bg">
    <div class="md-toolbar-tools" ng-controller="AuctionController as auction">
        <div style="cursor: hand; padding-top: 30px">
            <span class="toolbar-header-text" ui-sref="auction.welcome">{{'label.TITLE' | translate}}</span>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;stedet ghj hgjh hj j hgj gj hj g</div>
        </div>
        <span flex></span>
        <md-button aria-label="Login" ui-sref="auction.login" aria-label="Login">
            {{'button.LOGIN' | translate}}
        </md-button>
        <md-button aria-label="Register" ui-sref="auction.register" aria-label="Register">
            {{'button.SIGN_UP' | translate}}
        </md-button>
        <md-button ng-click="auction.changeToDanish()">
            {{'button.LANG_DANISH' | translate}}
        </md-button>
        <md-button ng-click="auction.changeToEnglish()">
            {{'button.LANG_ENGLISH' | translate}}
        </md-button>
    </div>
</md-toolbar>
    <ui-view class="fade toolbar-fixed normal-background"></ui-view>
